/* The <ul> tag defines an unordered (bulleted) list */
ul {
    /* Remove list bullets */
    list-style-type: none;
    
    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 0;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
    overflow: hidden;
    
    /*  */
    background-color: #333;
}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
li {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
}
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;
    
    /*  */
    color: white;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align: center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 14px 16px;
    
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color: #666;
}

li a .active {
    /*  */
    background-color: #111;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXAYuXcQi-fRJw63ipczBbmeAbQubAQohRlA&usqp=CAU");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(19, 16, 53);
     border-style: solid;
    
    }
/* home page */

@media  screen and (max-width: 600px) {
    /* .home-text{ */
        /* align-items: center; */
        /* text-align: center; */
        /* justify-content: center; */
    }
    
    
.hometext{
    font-weight: 300;
    color: #444;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
@media  screen and (max-width: 450px) {
    .home-text{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    }

.cardhome{
    margin: 0 auto;
    padding: 0 10px;
    /* width: 500px; */
    width: 45%;
  
}

/* @media  screen and (max-width: 450px) {
    .cardhome{
   text-align: center;
   text-decoration: none;
   display: inline-block;
    } */



.button-1 {
    display: block;
    text-align: center;
    background: rgb(161, 67, 67);
    border-radius: 3px;
    color: rgb(141, 129, 129);
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto; 
}


/* @media  screen and (max-width: 450px) {
     .button-1{
       text-align: center;
       text-decoration: none;
       display: inline-block;
        } */
    
/* } */
.button-1:hover {
    background-color: #aab1b3;
    color: #fff;

}
.features ul li.feature-1 {
    background: url('../images/features-icon-1.png') no-repeat top center;
    text-align: center; 
}
.features ul li.feature-2 {
    background: url('../images/features-icon-2.png') no-repeat top center;
    text-align: center;

    
}   

.foot{
    text-align: center;
    text-shadow: #444;
    /* margin-left: 30%; */
    
}
@media  screen and (max-width: 450px) {
    .foot{
        align-items: center;
        text-align: center;
        justify-content: center;
    
    }
}


/* about page */
.card:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.1); }



/* contact page */
fieldset {
    background-color: #eeeeee;
    margin: center;
}

/* testimonial section */

    .container{
        display:flex;
        justify-content: space-evenly;
        flex-direction:row;
        /* max-width: 60%; */
        /* float: none; */
        /* margin: 0 auto; */
        display: flex;
        flex-wrap:wrap;
        gap: 40px;
       
      
           
    }
    
    .flip-card {
        background-color: transparent;
        width: 400px;
        height: 300px;
        border: 4px solid #14dac9;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color: rgb(28, 128, 106);
        color: rgba(7, 6, 6, 0.808);
        transform: rotateY(180deg);
      }
      