/* The <ul> tag defines an unordered (bulleted) list */
ul {
    /* Remove list bullets */
    list-style-type: none;
    
    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 0;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
    overflow: hidden;
    
    /*  */
    background-color: #333;
}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
li {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
}
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;
    
    /*  */
    color: white;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align: center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 14px 16px;
    
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color: #666;
}

li a .active {
    /*  */
    background-color: #111;
}
/* Home Section */

.cardhome{
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

.hero-image{ 
    height: 580px;
    padding-top: 1px;
    background: #5f7c83 url('me2.jpg')  no-repeat center;
    
}
.hero-image h2 {
    margin: 180px 0 40px 0;
}
.button-1 {
    display: block;
    text-align: center;
    background: rgb(212, 187, 187);
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}
.button-1:hover {
    background-color: #aab1b3;
    color: #fff;
}
#features ul {
    margin: 80px 0;
}
#features ul li {
    width: 300px;
    padding-top: 140px;
    float: left;
    margin-right: 10px;
    text-align: center;
}
.features ul li.feature-1 {
    background: url('../images/features-icon-1.png') no-repeat top center;
}
.features ul li.feature-2 {
    background: url('../images/features-icon-2.png') no-repeat top center;
}
.features ul li.feature-3 {
    background: url('../images/features-icon-3.png') no-repeat top center;
}
.foot{
    text-align: center;
    text-shadow: #444;
    margin-left: 30%;
}
/* testimonial section */
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXAYuXcQi-fRJw63ipczBbmeAbQubAQohRlA&usqp=CAU");  
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: rgb(19, 16, 53);
     border-style: solid;

    }


    .container{
        display:flex;
        justify-content: space-evenly;
        flex-direction:row;
        /* max-width: 60%; */
        /* float: none; */
        /* margin: 0 auto; */
        display: flex;
        flex-wrap:wrap;
        gap: 60px;

    }

    .flip-card {
        background-color: transparent;
        width: 400px;
        height: 300px;
        border: 4px solid #14dac9;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }

      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);

      }

      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }

      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }

      /* Style the back side */
      .flip-card-back {
        background-color: rgb(28, 128, 106);
        color: rgba(7, 6, 6, 0.808);
        transform: rotateY(180deg);
      }
/* About section */
.imageabout:hover  {
    transform: scale(1.2) rotate(360deg);
    margin-bottom:  5%;
}